{% extends "db/base.html"  %}


{% block content %}
    <div class="content ">
        <div class="section-inner clearfix">

        <h3>LOGIN</h3>

        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div class = "row">
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <label for="id_username">Enter username</label>
                    <input type="text" id="id_username" name="username">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
            </div>
            <div class = "row">
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <label for="id_username">Enter password</label>
                    <input type="password" id="id_password" name="password">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
            </div>
            <div class = "row">
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <input type="submit" value="Submit"></td>
                    <input type="submit" value="Forgot Password"></td>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
        </form>

        </div>

        <!-- <div class = "row mt-3">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button onclick="myFunction(this.id)">Forgot Password</button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
        </div> -->
    </div>

{% endblock content %}