
{% extends "db/base.html" %}

{% block content %}
{% load static %}
<div class="row justify-content-md-center row1">

  <div class="md-form mt-5 searchprods">
    <input class="form-control search" type="text" placeholder="Search for products" aria-label="Search">
  </div>
</div>

<div class="row justify-content-md-center mt-4 row1">
  <div class="dropdown text-center">
    CATEGORY
    <br><br>
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
      IV Fluids
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">IV Fluids</a>
      <a class="dropdown-item" href="#">IV Fluids</a>
    </div>
  </div>
</div>

 <!--Second Row is for the order or delivery data--> 
<div class="row justify-content-md-center">

    {% for item in Items %}
    <div class="col-md-2 col-sm-3 col-xs-4 product text-center">
        <img src="{% static "db/B_Braun_Lactated_Ringers_250ml.JPG" %}" class="img-fluid prodimg" alt="Responsive image">
    
      
      <strong>{{item.description}}</strong>
      <br>
      <text>{{item.weight}}</text>
      <br>
      <button class = "btn btn-default btn-primary addtocart"  id = "{{item.itemNo}}" onclick="myFunction(this.id, '{{item.description}}', '{{item.weight}}')">ADD TO CART</button>
    </div>
    {% endfor %}

    
</div>



<div class="row justify-content-md-center ml-5">

    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-8 pt-4 pl-0 pr-0 orders">

      <text class = "ml-4 mb-2">MY DELIVERIES</text>
      <hr>

      <div class = "row justify-content-md-center mb-1" id = "cartdiv">

      </div>

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
  <hr>


</div>
<form action="">
  <input type="checkbox" name="vehicle1" value="Bike"> High<br>
  <input type="checkbox" name="vehicle2" value="Car"> Medium<br>
  <input type="checkbox" name="vehicle3" value="Boat" checked> Low<br><br>
</form>


<button class = "btn btn-default btn-primary" onclick="sendData()">Finish Order</button>

<script src = "{% static "db/dynamic.js" %}"></script>
{% endblock content %}
