
{% extends "db/base.html" %}

{% block content %}
{% load static %}
<div class="row justify-content-md-center row1">

  <div class="md-form mt-5 searchprods">
    <input class="form-control search" type="text" placeholder="Search for products" aria-label="Search">
  </div>
</div>

<div class="row justify-content-md-center mt-4 row1">
  <div class="dropdown text-center">
    CATEGORY
    <br><br>
    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
      IV Fluids
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">IV Fluids</a>
      <a class="dropdown-item" href="#">IV Fluids</a>
    </div>
  </div>
</div>

 <!--Second Row is for the order or delivery data--> 
<div class="row justify-content-md-center">

    {% for item in Items %}
    
    <div class="col-md-2 col-sm-3 col-xs-4 product text-center">
        <img src="{{item.profile_image.url}}" class="img-fluid prodimg" alt="Responsive image">
        
      
      <strong>{{item.description}}</strong>
      <br>
      <text>{{item.weight}}</text>
      <br>
      <button class = "btn btn-default btn-primary addtocart"  id = "{{item.itemNo}}" 
      onclick="myFunction(this.id, '{{item.description}}', {{item.weight}}, '{{item.profile_image.url}}')">ADD TO CART
      </button>
    </div>
    {% endfor %}

    
</div>



<div class="row justify-content-md-center ml-5">

    <div class="col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-8 pt-4 pl-0 pr-0 orders">

      <text class = "ml-4 mb-2">ITEMS</text>
      <hr>

      <div class = "row justify-content-md-center mb-1" id = "cartdiv">

      </div>
      <div class = "row ml-5 mb-3" id = "totalweight">
        TOTAL WEIGHT : 0 KGS
      </div>
      <hr>
      <div class = "row ml-5 mb-3" >
        
        <div class = "mt-1" style = "font-size:17px;">ORDER PRIORITY</div>

        <div class = "ml-5 pl-5 text-center">
          <button class = "btn ml-3 mb-1" onclick = "priority(this.id)" id = 'High' style = "height:23px;width:10px;background-color: #A02104; border-radius:0px;"></button>
          <p><strong>High</strong></p>
        </div>

        <div class = "ml-5 text-center">
          <button class = "btn mb-1" onclick = "priority(this.id)" id = 'Medium' style = "height:23px;width:10px;background-color: #E2ED00;border-radius:0px;"></button>
          <p><strong>Medium</strong></p>
        </div>

        <div class = "ml-5 text-center">
          <button class = "btn no-radius mb-1" onclick = "priority(this.id)" id = 'Low' style = "height:23px;width:10px;background-color: #00A51F;border-radius:0px;"></button>
          <p><strong>Low</strong></p>

        </div>
        <div style = "margin-left:270px;"><button class = "btn btn-default btn-primary" onclick="sendData()" style = "height:40px;width:180px;font-size:13px;background-color:#AD441F;">FINISH ORDER</button></div>
      </div>

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>
  <hr>


</div>

<script src = "{% static "db/dynamic.js" %}"></script>
{% endblock content %}
