@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

div{
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
    outline: 0 none;
}
.nopadding {

   padding-left :60px  !important;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    font-size: 15px;
}

.line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 100% 0, 0, 100% 0, 1500, from(#000), to(#fff));
}


li
{
	border:0.5px solid black;
	padding:10px 50px;
	display:inline;
}

ul{
	width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.active
{
	border:0;
}
.nav-pills .active a
{
	color: white;
}

.orders
{

	display:table;
	margin:50px 0;

	box-shadow: 0px 0px 10px rgb(100,100,100);

}

.orderdetails
{
	display:table;
	margin:50px 30px;
	box-shadow: 0px 0px 10px rgb(100,100,100);
}


.center {
    padding-left: 100px;
}


.product {
    display:table;
	margin:20px 0px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.product:hover{

	box-shadow: 0px 0px 10px rgb(200,200,200);
}

.addtocart
{
	font-size:12px;
	font-weight: 800;
	margin-top: 15px;
	padding:10px 50px;

}

.searchprods
{
	width:30%;
}

.search
{
	height:30px;
	border:0;
	border-bottom:0.5px solid black;
	border-radius: 0;
	padding-bottom: 0;
}

.dropdown-menu{
	margin-right: 100px;
	padding: 20px 0px;
	left:0; 
}

.crossorder
{
	height: 30px;
	width: 30px;
	padding: 0px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 15px;

}

text
{
	margin: 10px;
}

