{% extends "db/base.html" %}

{% block content %}
{% load static %}
    


     <!--Secnd Row is for the order or delivery data--> 
    <div class="row justify-content-md-center ml-3 mr-3">

        <div class="col-md-8 col-sm-8 col-xs-8 pt-4 pl-0 pr-0 orders">

          <text class = "ml-4 mb-2">MY ORDERS</text>
          <hr>
          {% for order in Orders%}
          <div class = "row justify-content-md-center mb-1 ml-3" id = 'Order{{order.orderNo}}'>

            <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="row justify-content-md-center mb-1 ml-1">
                
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <strong>ORDER NUMBER {{order.orderNo}}</strong>
                </div>
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                  {{order.noOfItems}} ITEMS
                </div> 
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                  {{order.orderStatus}}
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                  <a href = ""><button type = "button" class = "btn btn-secondary" style = "border:0;font-size: 15px;" id = '{{order.orderNo}}' onclick="cancel(this.id)"><strong>CANCEL</strong></button></a>
                </div>

              </div>

            <div class="row justify-content-md-center pt-4 ml-1 mt-4">
                
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <strong>ORDER WEIGHT</strong>
                </div>
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                  <strong>DELIVER BY</strong>
                </div> 
                
                <div class="col-md-3 col-sm-2 col-xs-2">
                  <strong>DELIVER FROM</strong>
                </div>

                <div class = "col-md-3 col-sm-3 col-xs-3">
                </div>
              
            </div>

            <div class="row justify-content-md-center mb-2 pt-1 ml-1">
                
                <div class="col-md-3 col-sm-3 col-xs-3">
                  {{order.weight}}KGS
                </div>
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                  16th August
                </div> 
                
                <div class="col-md-3 col-sm-3 col-xs-3">
                  QMH
                </div>

                <div class = "col-md-3 col-sm-3 col-xs-2 pt-2 text-center" >
                  <button type = "button" class = "btn btn-secondary" style = "border:0;font-size: 15px;" id = '{{order.orderNo}}' onclick="complete(this.id)"><strong>COMPLETE</strong></button>
                </div>
              
            </div>

            <hr>
          </div>
        </div>

    {% endfor %}

    </div>
  </div>
    <script type="text/javascript">
    

    function complete(clicked_id)
    {
      $('#Order'+clicked_id).remove();

      url = "change/";

      data = String(clicked_id)

      $.post(url, data)
      .done(function() {
          
      })
      .fail(function() {
      })
      .always(function() {
       });

    }
    function cancel(clicked_id)
    {
      $('#Order'+clicked_id).remove();

      url = "cancel/";

      data = String(clicked_id)

      $.post(url, data)
      .done(function() {

          
      })
      .fail(function() {
      })
      .always(function() {
       });
    }
    function sendData(clicked_id)
    {
        
      url = "warehouse/pdf/";

      data = String(clicked_id)

      $.post(url, data)
      .done(function() {

          
      })
      .fail(function() {
      })
      .always(function() {
       });

    }

  </script>
{% endblock content %}

