{% extends "db/base.html" %}

{% block content %}
{% load static %}
    <!--First Row - New and Dequeed tabs--> 
    <div class="row">


      <!--Empty div for allignment purposes--> 
      <div class="col-md-4 col-sm-4 col-xs-4"></div>


      <div class="col-md-4 col-sm-4 col-xs-4">

        <ul class="nav nav-pills">

          <li><a href="/dispatcher" color = "white">ORDERS</a></li>
          <li class="active bg-primary"><a href="/">DELIVERY</a></li>

        </ul>

      </div>

       <!--Empty div for allignment purposes--> 
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
    </div>




     <!--Secnd Row is for the order or delivery data--> 
    <div class="row justify-content-md-center ml-3 mr-3">


      
        <div class="col-md-8 col-sm-8 col-xs-8 pt-4 pl-0 pr-0 orders">

          <text class = "ml-4 mb-2">MY DELIVERIES</text>
          <hr>
          {% for delivery in Delivery%}
          <div class = "row justify-content-md-center mb-1" id = 'Delivery{{delivery.deliveryNo}}'>

            <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="row justify-content-md-center mb-1 ml-1">
                
                <div class="col-md-3 col-sm-3 col-xs-3 pl-1 ml-2">
                  <strong>DELIVERY NUMBER {{delivery.deliveryNo}}</strong>
                </div>
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                  
                </div> 
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                </div>
                
                <div class="col-md-2 col-sm-2 col-xs-2 pl-5 ml-4 text-center">
                <button type = "button" class = "btn btn-default btn-danger btn-circle crossorder" style = "background-color:#A02104;" id = '{{delivery.deliveryNo}}' onclick="dequeue(this.id)">
                  X  
                </button>
                </div>

              </div>

            <div class="row justify-content-md-center pt-4 ml-1">
                
                <div class="col-md-3 col-sm-3 col-xs-3 pl-1 ml-2">
                  <strong>ORDER WEIGHT</strong>
                </div>
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                  <strong>DELIVER BY</strong>
                </div> 
                
                <div class="col-md-2 col-sm-2 col-xs-2 pl-3 ml-4">
                  <strong>DELIVER FROM</strong>
                </div>

                <div class = "col-md-3 col-sm-3 col-xs-3">
                </div>
              
            </div>

            <div class="row justify-content-md-center mb-2 pt-1 ml-1">
                
                <div class="col-md-3 col-sm-3 col-xs-3 pl-1 ml-2">
                  {{delivery.weight}}KGS
                </div>
                
                <div class = "col-md-3 col-sm-3 col-xs-3">
                  16th August
                </div> 
                
                <div class="col-md-3 col-sm-3 col-xs-3 pl-3 ml-4">
                  QMH
                </div>

                <div class = "col-md-2 col-sm-2 col-xs-2 pt-3 text-center" >
                  <button class = "btn btn-secondary" style = "border:0;font-size: 15px;padding:10px;" onclick="myFunction(this.id)" id = "{{delivery.deliveryNo}}"><strong>SELECT</strong></button>
                </div>
              
            </div>

            <hr>
          </div>
        </div>
    {% endfor %}
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3 orderdetails" id = "orderdetails">
      <div style = "padding-top: 20px;font-size: 20px;">ORDER DETAILS</div>
      <hr>
      <div id= "append"  style = "padding: 5px 10px 5px 10px;margin-bottom: 20px;"></div>
      
    </div>
  </div>

    <script type="text/javascript">
    var dict = {};

    function myFunction(clicked_id) {     
        
        for (var key in dict) {
            dict[key] = 0;
        }
        dict[clicked_id] = 1;
        htmltext =
        '<div class = "text-center"><a href = "/dispatcher/csv/?'+clicked_id+'"><button class = "btn btn-secondary" onclick = sendData('+clicked_id+') style = "color:white;background-color:#AD441F;padding:13px 40px; font-size:15px;"><strong>DOWNLOAD CSV</strong></button></div>';

        $('#append').html(htmltext);
    }

    function dequeue(clicked_id)
    {
      if(dict[clicked_id] == 1)
        $('#append').html(' ');
      $('#Delivery'+clicked_id).remove();

      url = "dispatcherdelivery/change/";

      data = String(clicked_id)

      $.post(url, data)
      .done(function() {
          
      })
      .fail(function() {
      })
      .always(function() {
       });

    }

    function sendData(clicked_id)
    {

      $('#append').html('');
      url = "warehouse/pdf/";

      data = String(clicked_id)

      $.post(url, data)
      .done(function() {
          
      })
      .fail(function() {
      })
      .always(function() {
       });

    }

  </script>
{% endblock content %}